<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728466472060-2vm79ffj2ggdeiqr4bds4r84c1phb0hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728466472060-2vm79ffj2ggdeiqr4bds4r84c1phb0hm</string>
	<key>API_KEY</key>
	<string>AIzaSyAl6HhEPv7RHOasrdGNtAfPSEqed4YT370</string>
	<key>GCM_SENDER_ID</key>
	<string>728466472060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyojun.com.fbAuthProvider</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-provider-d1c68</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-provider-d1c68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728466472060:ios:76d022f9710fd651c29df9</string>
</dict>
</plist>